In [39]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
datafilepath = 'pettigrew-clean.csv'

In [3]:
df = pd.read_csv(datafilepath)

# Understand the names of things in you dataframe

In [12]:
df # well, you can just look at it, checking that you read it in correctly

,BoxNumber,FolderNumber,Contents,Date
0,1,1,[Provenance documents and biographical sources],n.d.
1,1,2,[Provenance documents and biographical sources],n.d.
2,1,3,[Provenance documents and biographical sources],n.d.
3,1,4,"Aberdeen, George Hamilton-Gordon, 4th Earl of,...",1846 Aug
4,1,5,"Abingdon, Montagu Bertie, 6th Earl of, 1808-18...","1859, 1860"
5,1,6,"Acland, Sir Thomas Dyke, bart., 1787-1871. ALS...",n.d.
6,1,7,"Aikin, Arthur, 1773-1854. 3 ALS to T. J. Petti...",1823-30
7,1,8,"Ailesbury, George William Frederick Brudnell-B...",1858-59
8,1,9,"Ainslie, Sir Whitelaw, 1767-1837. 1 ALS and 2 ...",1828 Jun
9,1,10,"Ainsworth, William Francis, 1807-1896. 5 ALS t...",1843-56
10,1,11,"Ainsworth, William Harrison, 1805-1882. 5 ALS ...",1854-60
11,1,12,"Akerman, John Yonge, 1806-1873. 9 ALS and 2 LS...",1849-56
12,1,13,"Albemarle, Charlotte (Hunloke) Keppel, Countes...",1822 Mar 8
13,1,14,"Albemarle, George Thomas Keppel, 6th Earl of, ...",1857 Jul-Aug
14,1,15,"Alcock, Thomas, 1784-1833. 3 AL to T. J. Petti...",1830-33
15,1,16,"Amyot, Thomas, 1775-1850. 6 ALS to T. J. Petti...",1827 and later
16,1,17,"Anderson, Joseph, 1789-1877. 3 ALS to T. J. Pe...",1843-47
17,1,18,Anglo-Biblical Institute. ALS (signed W. H. Cl...,1859 Nov 28
18,1,19,"Arran, Mary (Tyrrell), Countess, 1767?-1832. A...",[1824 or later]
19,1,20,"Arundale, Francis, 1807-1853. ALS to T. J. Pet...",n.d.
20,1,21,"Arundell, Henry Benedict Arundell, 11th Baron,...",1852 Jun-Sep
21,1,22,"Arundell, John Francis Arundell, 12th Baron, 1...",1860 Mar
22,1,23,"Ashburton, Alexander Baring, 1st Baron, 1774-1...",[1839 or later]
23,1,24,"Ashburton, William Bingham Baring, 2d Baron, 1...",n.d.
24,1,25,"Ashpitel, Arthur, 1807-1869. 3 ALS to T. J. Pe...",1850 Aug
25,1,26,"Auckland, George Eden, 1st Earl of, 1784-1849....",1828 Dec 7
26,1,27,"Auckland, Robert John Eden, 3d Baron, Bp. of B...",1856-59
27,1,28,"Ayrton, William, 1777-1858. ALS to T. J. Petti...",1827 Feb 1
28,1,29,"Babington, Benjamin Guy, 1794-1866. 3 ALS and ...",1830-38
29,1,30,"Babington, William, 1756-1833. AL to T. J. Pet...",1817 Jun 6
...,...,...,...,...
580,12,581,"Wilbraham, Roger, 1744-1829. 2 ALS and 1 AL to...",1825-27
581,12,582,"Wild, Charles, 1781-1835. ALS to T. J. Pettigrew",1828 Apr 12
582,12,583,"Wilkins, George, 1785-1865. ALS to T. J. Petti...",1852 Sep 6
583,12,584,"Wilkins, William, 1778-1839. ALS and AL to T. ...",1826 Feb
584,12,585,"Wilkinson, Sir John Gardner, 1797-1875. 91 ALS...",[1830]-58
585,12,586,"Wilkinson, Sir John Gardner, 1797-1875. 91 ALS...",[1830]-58
586,12,587,"Wilkinson, Sir John Gardner, 1797-1875. 91 ALS...",[1830]-58
587,12,588,"Wilkinson, Sir John Gardner, 1797-1875. 91 ALS...",[1830]-58
588,12,589,"Wilkinson, Sir John Gardner, 1797-1875. 91 ALS...",[1830]-58
589,12,590,"Wilkinson, Sir John Gardner, 1797-1875. 91 ALS...",[1830]-58
590,13,591,"Williams, John, 1811-1862. 1 ALS to T.J. Petti...",1851 Oct 23
591,13,592,"Willis, Robert, 1800-1875. 1 AL to Sir John Ga...",1850 Jan 19
592,13,593,"Willson, Edward James, 1787-1854. ALS to T. J....",1852 Jul 30
593,13,594,"Wilson, Sir Daniel, 1816-1892. ALS to T. J. Pe...",1850 Jul 12
594,13,595,"Wilson, James Arthur, 1795-1882. 4 ALS to T. J...",[1836 or later]
595,13,596,"Wilson, Matthew. 4 ALS and 1 AL to T. J. Petti...",[1850 or later]
596,13,597,"Woodfall, George, 1767-1844. 4 ALS to T. J. Pe...",1829-34
597,13,598,"Word, J. ALS and LS to T. J. Pettigrew","1836 Sep, Nov"
598,13,599,"Wrangham, Francis, 1769-1842. 4 ALS to T. J. P...",1816-30
599,13,600,"Wright, John, 1770?-1844. 3 ALS to T. J. Petti...",[1842 or later]
600,13,601,"Wright, Thomas, 1810-1877. 10 ALS to T. J. Pet...",1840-45
601,13,602,"Wynyard, Miss. AL to Mr. Stephenson",n.d.
602,13,603,"Wyon, William, 1795-1851. ALS and AL to T. J. ...","1832, 1840"
603,13,604,"Yeats, Grant David, 1773-1836. AL to T. J. Pet...",1826 May 1
604,13,605,"Yorke, Charles Philip, 1764-1834. AL to T. J. ...",1817 Feb 3
605,13,606,"Yorke, Sir Joseph Sidney, 1768-1831. ALS to T....",1820 Sep 1
606,13,607,"Youatt, William, 1776-1847. 3 ALS to T. J. Pet...",1828-35
607,13,608,"Young, Sir Charles George, 1795-1869. 5 ALS an...",1853 Mar
608,13,609,"Young, G. 5 ALS to T.J. Pettigrew",1833-49
609,13,610,"Zouche, Robert Curzon, 14th Baron, 1810-1873. ...",1849 Jan 22

In [15]:
df.columns # have the column names handy, and dig out any documentation you have.

# do these column names make sense? Do you know what they mean?

Index(['BoxNumber', 'FolderNumber', 'Contents', 'Date'], dtype='object')

In [18]:
df.shape # do these rows and column numbers make sense?
# answer: why are there this many rows?
# why are there this many columns?
# what does each row represent?

(610, 4)

In [22]:
df.dtypes
# this is an important check mostly for pandas
# You should know if something is numerical or not
# go through each column in here, checking that it is int64 if that was intended

BoxNumber        int64
FolderNumber     int64
Contents        object
Date            object
dtype: object

In [25]:
df.info()
# will give you a really similar amount of info, but will also have shape info and a summary
# of all the dtypes present.  Which is nice if you've got a bunch of columns.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 4 columns):
BoxNumber       610 non-null int64
FolderNumber    610 non-null int64
Contents        610 non-null object
Date            609 non-null object
dtypes: int64(2), object(2)
memory usage: 19.1+ KB

So now we can do describe, but it'll only do stats on the int64 columns.

In [8]:
df.describe() # but this is only working on the quant values

        BoxNumber  FolderNumber
count  610.000000    610.000000
mean     6.683607    305.500000
std      3.550697    176.236111
min      1.000000      1.000000
25%      4.000000    153.250000
50%      7.000000    305.500000
75%     10.000000    457.750000
max     13.000000    610.000000

You can still get it to give you some summary data via calling it on an individual column.

In [11]:
df['Date'].describe()

count      609
unique     510
top       n.d.
freq        54
Name: Date, dtype: object

In [27]:
df['Contents'].describe()

count                                                   610
unique                                                  595
top       Wilkinson, Sir John Gardner, 1797-1875. 91 ALS...
freq                                                      6
Name: Contents, dtype: object

In [42]:
pd.crosstab(df['Date'], df['BoxNumber'])
sns.heatmap(df[['Date', 'BoxNumber']])

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [31]:
df.columns

Index(['BoxNumber', 'FolderNumber', 'Contents', 'Date'], dtype='object')